body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #444;
    text-align: center;
}

form {
    width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}

li strong {
    font-weight: bold;
}

img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}
